*{
				margin: 0;
				padding: 0;
				list-style: none;
			}
ul{
	overflow: hidden;
	margin-bottom: 2rem;
}
			ul li{
				width: 25%;
				height: 0;
				padding-bottom: 25%;
				background: pink;
				float: left;
				outline: 1px solid #000;
			}
			ul li:nth-of-type(2n){
				background: blue;
			}
html{
	font-size: 12px;
}
div{
	font-size: 13px;
}
p{
	font-size: 2rem;
	width: 2rem;
	height: 2rem;
	margin: 2rem;
	padding: 2rem;
	background: blueviolet;
}
p:nth-of-type(2n){
	font-size: 2em;
	width: 2em;
	height: 2em;
	margin: 2em;
	padding: 2em;
	background: red;
}
